.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $timing-fuction;
  z-index: 3;
}

.backdrop.is-hidden {
  display: none;
  opacity: 0;
  visibility: collapse;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) 250ms;
}
