h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// TITLES
.title {
  color: $title-color;
  &--hero {
    margin-left: calc(12.5%);
    margin-right: calc(12.5%);
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    left: 60px;
    top: 178px;
  }
  &--specialty {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  // &--do {
  //   display: none;
  // }
  &--do,
  &--teams,
  &--client {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &--card {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}

.title--portfolio {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
