h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// TITLES
.title {
  color: $title-color;
  &--hero {
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    left: 452px;
    top: 280px;
  }
  &--specialty {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }
  &--do,
  &--teams,
  &--client {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
  &--card {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
}

.title--portfolio {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
