.footer {
  background-color: $footer-header-backgraund;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer__addres {
  margin: 0;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  &--p {
    margin-top: 20px;
    margin-bottom: 8px;
  }
}

.footer__contacts {
  margin-top: 119px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms $timing-fuction;
  &--phone {
    margin-top: 8px;
  }
  &:hover,
  &:focus {
    color: $booton-color;
  }
}
.footer__subtitle {
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: $tables) {
  .footer__addres {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .for-tables {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  .footer__contacts {
    display: flex;
    margin-top: 9px;
    margin-bottom: 0;
  }
  .footer__contacts--phone {
    margin: 0;
  }
}
@media screen and (min-width: $desktop) {
  .footer__add {
    text-align: left;
    width: 231px;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 9px;
    margin-bottom: 0;
    &--phone {
      margin: 0;
    }

    &:hover,
    &:focus {
      color: $booton-color;
    }
  }

  .footer__subtitle {
    margin: 0;
    padding-bottom: 20px;
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
