.section {
  padding-top: 60px;
  padding-bottom: 60px;
  &--do {
    @media screen and (max-width: calc(($desktop) - 1px)) {
      display: none;
    }
    padding-bottom: 60px;
  }
  &--team {
    background-color: #f5f4fa;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
