.section--specialty {
}

.specialty {
  @media screen and (min-width: $tables) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
  }
}
.specialty__item {
  margin-bottom: 30px;
  @media screen and (min-width: $tables) and (max-width: $desktop) {
    margin-right: 30px;
    width: 354px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
    width: 270px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  &::before {
    display: block;
    content: " ";
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
  }

  // & + & {
  //   margin-left: 30px;
  // }
}

$iconsvg: "Groupantena", "clock", "diagram", "astronaut";
@mixin generateIcons($iconlist) {
  @each $specialty in $iconlist {
    .#{$specialty}::before {
      background-image: url("../svg/Icon/#{$specialty}.svg");
    }
  }
}
@include generateIcons($iconsvg);

.specialty__desc {
  border: 0;
  font-size: 14px;
  line-height: 1.71;
}
