.card {
  margin: 0 15px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  // & + & {
  //   margin-left: 30px;
  // }
}

// .card__desk {
//   padding-top: 30px;
//   padding-bottom: 30px;
// }

.card__specialization {
  font-size: 14px;
  line-height: 1.19;
  // width: 270px;
  text-align: center;
}
