.card {
  @media screen and (min-width: $tables) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card__item {
  margin: 0 15px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
.card__specialization {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.19;
  text-align: center;
}
.card__desk {
  margin-top: 30px;
}
