.header {
  outline: solid #ececec 1px;
  position: relative;
  // padding-left: 15px;
  // padding-right: 15px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: $tables) {
    &-site {
      display: flex;
      margin-left: 88px;
    }

    &-site__item {
      position: relative;
      width: 100%;
      height: 48px;
      margin-top: 32px;
      & + & {
        margin-left: 30px;
      }
    }
  }
  @media screen and (min-width: $desktop) {
    &-site {
      display: flex;
      margin-left: 93px;
    }
    & + & {
      margin-left: 50px;
    }
  }
}

%nav {
  display: flex;
  color: $title-color;
  font-size: 40px;
  line-height: 1.18;
  font-weight: 500;
  text-decoration: none;
  transition: color 250ms $timing-fuction;
  @media screen and (max-width: calc(($tables) - 1px)) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $tables) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: $tables) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.nav-menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  @media screen and (max-width: 767px) {
    display: none;
    height: 796px;
    position: absolute;
    padding: 48px 0 48px 40px;
    top: 100%;
    left: 0;
    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: $tables) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.nav-site__link {
  @extend %nav;
  &:hover,
  &:focus {
    color: $booton-color;
  }
  &.current {
    color: $booton-color;
  }
  &.current::after,
  &:hover::after {
    @media screen and (max-width: calc(($desktop) - 1px)) {
      display: none;
    }
    position: relative;
    display: block;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: $booton-color;
    border-radius: 2px;
  }
}

.nav-contacts {
  @media screen and (max-width: calc(($tables) - 1px)) {
    margin-top: 302px;
  }

  @media screen and (min-width: $tables) {
    margin-left: 84px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }
  margin-left: auto;
  fill: $text-color;
}
.nav-contacts__mailphone {
  @extend %nav;
  display: flex;
  color: $text-color;
  transition: color 250ms $timing-fuction;
  @media screen and (max-width: calc(($tables) - 1px)) {
    font-size: 22px;
    line-height: 1.17;
  }
  @media screen and (min-width: $tables) {
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @extend %nav-contacts;
}
.nav-contacts__icon {
  @media screen and (max-width: calc(($tables) - 1px)) {
    display: none;
  }
  position: relative;
  padding: 0;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-size: contain;
  transition: fill 250ms $timing-fuction;
  @extend %nav-contacts;
}
%nav-contacts:hover,
%nav-contacts:focus {
  color: $booton-color;
  fill: $booton-color;
  @media screen and (max-width: calc(($desktop) - 1px)) {
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}
.nav-socials {
  display: flex;
  font-size: 18px;
  line-height: 1.22;
  @media screen and (min-width: $tables) {
    display: none;
  }
}
.nav-socials__item:not(:last-child) {
  border-right: $text-color 1px solid;
}
.nav-socials__link {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: $booton-color;
  &:first-child {
    margin-left: 0;
  }
}
