.header {
  outline: solid #ececec 1px;
  position: relative;
  // padding-left: 15px;
  // padding-right: 15px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}
%nav {
  display: flex;
  // justify-content: space-between;
  color: $title-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms $timing-fuction;
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: none;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.nav-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 480px;
  height: 796px;
  // text-align: center;
  &.is-open {
    display: block;
  }
  background-color: bisque;
}
.nav-site__link {
  @extend %nav;
  &:hover,
  &:focus {
    color: $booton-color;
  }
  &.current {
    color: $booton-color;
  }
  &.current::after,
  &:hover::after {
    position: relative;
    display: block;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: $booton-color;
    border-radius: 2px;
  }
}

.nav-contacts {
  // position: relative;
  margin-left: auto;
  fill: $text-color;
}
.nav-contacts__mailphone {
  @extend %nav;
  display: flex;
  color: $text-color;
  transition: color 250ms $timing-fuction;
  @extend %nav-contacts;
}
.nav-contacts__icon {
  position: relative;
  padding: 0;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-size: contain;
  transition: fill 250ms $timing-fuction;
  @extend %nav-contacts;
}
%nav-contacts:hover,
%nav-contacts:focus {
  color: $booton-color;
  fill: $booton-color;
}
